.main-form {
    width: 650px;
    margin: auto;
}

body {
    background-color: #DCDCDC;
}

h1 {
    font-size: 1200;
    font-weight: bolder;
    text-align: center;
}


h2 {
    text-align: center;
    color: #fff;
    background-color: rgb(192, 24, 24);
}

.form-check .form-check-label {
    color: black;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #111;
    color: white;
}
